.admin{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(223, 231, 228);
    text-align: center;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    vertical-align: center;
  }
  