<div class="home">
    <!-- Header -->
   <div class="header">
    <h1 class="header1">India COVID-19 Portal</h1>
   </div>
   <hr/>

   <!-- Card Display -->
<div class="center">
   <mat-card class="card1" >
    <mat-card-title >
        Total Confirmed
    </mat-card-title>
    <mat-card-content>
        {{totalData?.confirmed | number}}
    </mat-card-content>
    <mat-card-footer>
        {{totalData?.lastupdatedtime}}
    </mat-card-footer>
    </mat-card>
    </div>
   <br/>

    <mat-card class="card" >
        <mat-card-title >
            Total Active
        </mat-card-title>
        <mat-card-content >
            {{totalData?.active | number}}
        </mat-card-content>
        <mat-card-footer>
            {{totalData?.lastupdatedtime}}
        </mat-card-footer>
        </mat-card>

        <mat-card class="card" >
            <mat-card-title >
                Total Recovered
            </mat-card-title>
            <mat-card-content >
                {{totalData?.recovered | number}}
            </mat-card-content>
            <mat-card-footer>
                {{totalData?.lastupdatedtime}}
            </mat-card-footer>
        </mat-card>

        <mat-card class="card" >
            <mat-card-title >
                Total Deaths
            </mat-card-title>
            <mat-card-content>
                {{totalData?.deaths | number}}
            </mat-card-content>
            <mat-card-footer>
                {{totalData?.lastupdatedtime}}
            </mat-card-footer>
        </mat-card>

        <mat-card class="card" >
            <mat-card-title >
                Newly Active
            </mat-card-title>
            <mat-card-content >
                {{totalData?.deltaconfirmed | number}}
            </mat-card-content>
            <mat-card-footer>
                {{totalData?.lastupdatedtime}}
            </mat-card-footer>
        </mat-card>

        <mat-card class="card" >
            <mat-card-title >
                Newly Recovered
            </mat-card-title>
            <mat-card-content >
                {{totalData?.deltarecovered | number}}
            </mat-card-content>
            <mat-card-footer>
                {{totalData?.lastupdatedtime}}
            </mat-card-footer>
        </mat-card>

        <mat-card class="card" >
            <mat-card-title >
                Newly Deaths
            </mat-card-title>
            <mat-card-content >
                {{totalData?.deltadeaths | number}}
            </mat-card-content>
            <mat-card-footer>
                {{totalData?.lastupdatedtime}}
            </mat-card-footer>
        </mat-card>
<br/>
<h1 class="header" style="color:aliceblue; background-color: black;">State Wise Data</h1>
<hr>
  <!-- Tablular Data -->
  <table class="table table-striped" id="myTable">  
    <thead>  
      <tr>  
        <th width="30%" (click)="sortTable(0)">State/UT</th>  
        <th width="10%" (click)="sortTable(1)">Total Confirmed</th>
        <th width="10%" (click)="sortTable(2)">Total Active</th>  
        <th width="10%" (click)="sortTable(3)">Total Recovered</th>  
        <th width="10%" (click)="sortTable(4)">Total Deaths</th>
        <th width="10%" (click)="sortTable(5)">Newly Confirmed</th>
        <th width="10%" (click)="sortTable(6)">Newly Recovered</th>
        <th width="10%" (click)="sortTable(7)">Newly Deaths</th> 
      </tr> 
      </thead>
      <tbody>
      <tr *ngFor="let data of allData">   
        <td width="30%">{{data.state}}</td>  
        <td width="10%">{{data.confirmed | number}}</td> 
        <td width="10%">{{data.active | number}}</td> 
        <td width="10%">{{data.recovered | number}}</td> 
        <td width="10%">{{data.deaths | number}}</td>
        <td width="10%">{{data.deltaconfirmed | number}}</td>
        <td width="10%">{{data.deltarecovered | number}}</td>
        <td width="10%">{{data.deltadeaths | number}}</td>
      </tr> 
    </tbody>  
  </table>  
  <br/>
  <br/>

   <!-- Cases Header -->
   <div class="col-3">  
    <h5><span class="dataHeading">Choose a State to filter data</span></h5>  
    <select name="selectedState" id="state" class="form-control" [(ngModel)]="selectedStateCode"  
      (change)='onStateSelected()'>  
      <option *ngFor="let data of allData" [value]="data.statecode">{{data.state}}</option>  
    </select>  
  </div> 
  <br/> 


    <div *ngIf="selectedStateCode==undefined">  
      <img src="assets/heading.png" style="width: 350px;" />  
    </div>  
    <div class="col-3" *ngIf="selectedStateCode!=undefined">  
      <h5><span class="dataHeading">{{stateData?.state}} Summary</span></h5>  
      <table class="table table-striped">  
        <tbody>  
          <tr>  
            <td>Total Confirmed</td>  
            <td>{{stateData?.confirmed | number}}</td>  
          </tr>  
          <tr>  
            <td>Total Active</td>  
            <td>{{stateData?.active | number}}</td>  
          </tr>  
          <tr>  
            <td>Total Recovered</td>  
            <td>{{stateData?.recovered | number}}</td>  
          </tr>  
          <tr>  
            <td>Total Deaths</td>  
            <td>{{stateData?.deaths | number}}</td>  
          </tr>  
          <tr>  
            <td>Newly Confirmed</td>  
            <td>{{stateData?.deltaconfirmed | number}}</td>  
          </tr>  
          <tr>  
            <td>Newly Recovered</td>  
            <td>{{stateData?.deltarecovered | number}}</td>  
          </tr>  
          <tr>  
            <td>Newly Deaths</td>  
            <td>{{stateData?.deltadeaths | number}}</td>  
          </tr>  
          <tr>  
            <td>Migrated to Other</td>  
            <td>{{stateData?.migratedother | number}}</td>  
          </tr>  
          <tr>  
            <td>Last Updated Time</td>  
            <td>{{stateData?.lastupdatedtime}}</td>  
          </tr>  
        </tbody>  
      </table>  
    </div>  
    </div>  

